@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      scroll-behavior: smooth !important;
  }
  body {
      font-family: 'Raleway', sans-serif;
  }

  nav a, 
  menu a {
      @apply hover:text-gold focus:text-gold transition
  }

  /* hamburger menu animation */
  .drop, .drop span {
    transition: all 250ms ease-in-out;
  }
  .drop.open {
    transform: rotate(135deg);
  }
  .drop.open span:nth-child(2) {
    top: 50%;
    transform: translate(-1px, -50%);
  }
  .drop.open span:nth-child(1) {
    width: 24px;
    transform: rotate(45deg)  translate(7px, -6px) scale(0.75);
  }
  .drop.open span:nth-child(3) {
    width: 24px;
    transform: rotate(-45deg) translate(9px, 4px) scale(0.75);
  }
}

