@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    min-width: 300px;
    
  }
  .section {
    /* svh will override vh if supported */
    min-height: 100vh;
    min-height: 100svh;
    @apply text-lg py-24 text-gray-text
  }


  nav a, 
  menu a {
      @apply hover:text-gold focus:text-gold transition
  }

  /* hamburger menu animation */
  .drop, .drop span {
    transition: all 250ms ease-in-out;
  }
  .drop.open {
    transform: rotate(135deg);
  }
  .drop.open span:nth-child(2) {
    top: 50%;
    transform: translate(-1px, -50%);
  }
  .drop.open span:nth-child(1) {
    width: 24px;
    transform: rotate(45deg)  translate(7px, -6px) scale(0.75);
  }
  .drop.open span:nth-child(3) {
    width: 24px;
    transform: rotate(-45deg) translate(9px, 4px) scale(0.75);
  }

  /* hero button: rotate the arrow */
  .hero-button img {
    rotate: 0;
    transition: all 150ms linear;
  }
  .hero-button:hover img {
    rotate: 90deg;
  }


  /* for fun */
  .image-fun {
    position: relative;
    overflow: hidden;
    /* width: 750px; */
  }
  .image-fun::after {
    content: "😐 temporary image";
    position: absolute;
    font-size: 32px;
    color: white;
    background-color: brown;
    padding: 15px 60px;
    top: 52px;
    left: -140px;
    transform: rotate(-45deg) scale(60%);

  }

  /* project card */
  .project-card-icon {
    @apply transition block w-6 opacity-80 hover:opacity-100
  }
  .active-project-card:hover >*:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .active-project-card:hover >*:nth-child(2) {
    transform: translateY(0);
  }

  /* footer */

  .footer-important-links a {
    width: 100%;
    display: flex;
    align-items: center;
    @apply transition duration-200 ease-out
  }

  .footer-important-links div:hover  a {
    @apply translate-x-3
  }


  .footer-important-links a::before {
    content: "»";
    font-weight: 900;
    font-size: 24px;
    margin-right: 8px;
    @apply text-gold
  }

  /* footer block quote */
  blockquote::after {
    content: '»';
    line-height: 0 !important;
  }
  
  blockquote::after,
  blockquote::before {
    @apply text-2xl text-green;
  }
  
  blockquote::before {
    content: "«";
    line-height: 0 !important;
  }

  /* Blog Card Transition */
  .blog-card {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear 0s;
  }

  .blog-card:hover .increase-height {
    height: 100%;
  }

  .blog-card:hover .blog-card-hover {
    @apply brightness-75
  }


  /* form loader */
  .check-icon-pseudo::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
  }

  .check-icon-pseudo::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
  }

  .check-icon-pseudo::before, 
  .check-icon-pseudo::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #FFFFFF;
      transform: rotate(-45deg);
  }

  /* general */
  button {
    user-select: none;
  }
}





